body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

.jpa-practice-client {
  padding: 16px;
  background-color: bisque;
  height: 100%;
}

.jpa-practice-client .product .product-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.jpa-practice-client .customer .customer-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.jpa-practice-client .supplier .supplier-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.jpa-practice-client .transaction .transaction-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
