body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

.jpa-practice-client {
  padding: 16px;
  background-color: bisque;
  height: 100%;
}

.jpa-practice-client .list {

}

.jpa-practice-client .list .item {
  margin: 8px 0;
  padding: 8px;
  background-color: burlywood;
  border-radius: 4px;
}

.jpa-practice-client .list .item .item-name {

}

.jpa-practice-client .product .product-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
